$mobile: 370px;
$small: 576px;
$medium: 768px;
$large: 1024px;
$xlarge: 1280px;
$xxlarge: 1350px;
$macHeight: 900px;

$tablet-portrait: 768px;
$tablet-landscape: 1024px;

@mixin mobile {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

@mixin small {
  @media (min-width: #{$small}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium}) {
    @content;
  }
}

@mixin tablet-landscape {
    @media only screen
        and (min-device-width: #{$tablet-portrait}) 
        and (max-device-width: #{$tablet-landscape}) 
        and (orientation: landscape) 
        and (-webkit-min-device-pixel-ratio: 1) {
            @content;
    }
}

@mixin medium-landscape {
  @media (min-width: #{$medium}) and (orientation: landscape) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large}) {
    @content;
  }
}

@mixin xlarge {
  @media (min-width: #{$xlarge}) and (min-height: #{$macHeight}) {
    @content;
  }
}

@mixin xxlarge {
  @media (min-width: #{$xxlarge}) {
    @content;
  }
}