.h1-welcome {
    font-family: $caveat-brush;
    font-size: 52px;
    color: $black;
}

.p-welcome {
    font-family: $nunito-sans;
    font-size: 20px;
    color: $dark-grey;
}

h1 {
    font-family: $caveat-brush;
    font-size: 47px;
    line-height: normal;
    color: $black;
}

.themes-count {
    display: block;
    font-family: $caveat-brush;
    font-size: 22px;
    line-height: normal;
    color: $orange;
}

h2 {
    font-family: $caveat-brush;
    font-size: 20px;
    line-height: normal;
    color: $black;
}

p {
    font-family: $nunito-sans;
    font-size: 20px;
    color: $dark-grey;
}

.arrow-back-text {
    font-family: $caveat-brush;
    font-size: 26px;
    line-height: normal;
    color: $black;
}