// Fonts
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Nunito+Sans&display=swap&subset=latin-ext');

$caveat-brush: 'Caveat Brush', cursive;
$nunito-sans: 'Nunito Sans', sans-serif;

// Colors
$orange: #f8914f;
$orange-light: #fbbc80;
$black: #181818;
$white: #ffffff;
$cream: #fff0ce;
$hamburger-bg: #ffe8b3;
$dark-grey: #6d675f;
$bg-color: #fff7ed;