@import 'base/variables';
@import 'base/breakpoints';
@import 'base/fonts';
@import 'base/buttons';

/**
*GENERAL 
*/
html {
  height: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
  background: $bg-color;
}

main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    //overflow: hidden;
    position: relative;
}

a {
    text-decoration: none;
}


/** 
*STYLES 
*/
#develo {
    
    /** 
    *HEADER 
    */
    header {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 22px 18px 0 18px;
        .logo {
            width: 117px;
            height: 59px;
            background-image: url('../img/logo-big@2x.png');
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .hamburger {
            padding: 7px 22px 25.8px 22px;
            .inner {
                display: inline-flex;
                flex-direction: column;
                align-items: flex-end;
                .line {
                    display: block;
                    background: $orange;
                    height: 5.6px;
                    border-radius: 4.5px;
                    margin-bottom: 6.4px;
                }
                .line:last-child {
                    margin-bottom: 0;
                }
                .line--first {
                    width: 37px;
                }
                .line--second {
                    width: 23.4px;
                }
                .line--third {
                    width: 28.8px;
                }
            }
            .inner-close {
                display: none;
                .line {
                    display: block;
                    background: $orange;
                    height: 5px;
                    width: 37px;
                    border-radius: 6px;
                }
                .line:nth-child(1n) {
                    transform: rotate(45deg) translateY(15px) translateX(17px);
                }
                .line:nth-child(2n) {
                    transform: rotate(-45deg) translateY(13.5px) translateX(-11.5px);
                }
            }
        }
        .hamburger:hover {
            cursor: pointer;
        }
        
        @include medium {
            padding: 48px 31px 0 31px;
        }
        
        @include tablet-landscape {
            padding: 36px 92px 0 43px !important;
            .logo {
                width: 186px;
                height: 101px;
            }
        }
        
        @include large {
            padding: 58px 92px 0 92px;
            .logo {
                width: 186px;
                height: 101px;
            }
        }
    }
    
    header.hamburger-opened {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 6;
        .inner {
            display: none;
        }
        .inner-close {
            display: block;
        }
    }
    
    
    /** 
    *HAMBURGER MENU 
    */
    .hamburger-menu {
        display: none;
        position: fixed;
        min-height: 100vh;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
        background: $hamburger-bg;
        nav {
            height: 100vh;
            overflow-y: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;
            padding: calc(49px + 95px + 27px) 39px 110px 39px;
            a {
                display: block;
                color: $orange-light;
                font-family: $caveat-brush;
                font-size: 24px;
                font-weight: normal;
                margin-bottom: 32.5px;
                transition: all 0.3s ease-out;
            }
            a.active,
            a:hover {
                color: $orange;
                font-size: 37px;
                transition: all 0.3s ease-in;
            }
        }
        nav::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        
        @include medium {
            nav {
                padding: 0;
                padding-top: 199px;
                width: 437px;
                margin: 0 auto;
                a {
                    font-size: 32px;
                    text-align: center;
                    margin-bottom: 22px;
                }
                a.active,
                a:hover {
                    font-size: 44px;
                }
            }
        }
        
        @include large {
            nav {
                width: 637px;
            }
        }
    }
    
    .hamburger-menu.active {
        display: block;
    }
    
    
    /** 
    *WELCOME PAGE
    */
    .section-welcome {
        height: 100%;
        position: relative;
        header {
            display: none;
        }
        .house-img {
            position: absolute;
            top: -10px;
            right: 0;
            width: calc(414px / 1.35);
            height: calc(603px / 1.35);
            background-image: url('../img/house-mobile.png');
            background-repeat: no-repeat;
            background-size: calc(414px / 1.35) calc(603px / 1.35);
            background-position: right;
        }
        .welcome-wrapper {
            height: 100%;
            margin-top: 0px;
            .absolute-content {
                position: absolute;
                padding-bottom: 136px;
                width: 100%;
                .gradient-background {
                    margin-bottom: 38px;
                    .logo {
                        margin: 0 auto;
                        margin-bottom: 27px;
                        margin-top: 69px;
                        width: 158.5px;
                        height: 80px;
                        background-image: url('../img/logo-big@2x.png');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 158.5px 80px;
                    } 
                    .h1-welcome {
                        text-align: center;
                        margin-bottom: 29px;
                    }
                    .p-welcome {
                        margin: 0 auto;
                        text-align: center;
                        margin-bottom: 8px;
                        width: 340px;
                    }
                    .super-bacteria,
                    .strong-virus {
                        display: none;
                    }
                }
                .btn-container {
                    display: flex;
                    justify-content: center;
                    .btn-round {
                        position: relative;
                        width: 191px;
                        height: 191px;
                        animation: sonarWave 2s ease-out infinite;
                        .inner-circle-big {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 191px;
                            height: 191px;
                            opacity: 0.2;
                            border: solid 1px #f8914f;
                            border-radius: 50%;
                        }
                        .inner-circle-middle {
                            position: absolute;
                            top: calc((191px - 161px) / 2);
                            left: calc((191px - 161px) / 2);
                            width: 161px;
                            height: 161px;
                            opacity: 0.56;
                            background-color: #f8914f;
                            border-radius: 50%;
                        }
                        .inner-circle-small {
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            top: calc((191px - 114px) / 2);
                            left: calc((191px - 114px) / 2);
                            width: 114px;
                            height: 114px;
                            box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.04);
                            background-color: #f8914f;
                            border-radius: 50%;
                            font-family: $nunito-sans;
                            font-size: 18px;
                            font-weight: 800;
                            line-height: 2.56;
                            letter-spacing: 3.51px;
                            text-align: center;
                            color: #fffbef;
                            text-transform: uppercase;
                        }
                    }
                    @keyframes sonarWave {
                      from {
                        transform: scale(1);
                          opacity: 0.8;
                      }
                      to {
                        transform: scale(1.1);
                          opacity: 1;
                      }
                    }
                }
            }
        }
        
        @include small {
            .house-img {
                width: 414px;
                height: 603px;
                top: -40px;
                background-size: 414px 603px;
            }
            .welcome-wrapper {
                height: 100%;
                margin-top: 100px;
            }
        }
        
        @include medium {
            height: calc(100vh - 136px);
        }
        
        @include large {
            height: 100vh;
            overflow: hidden;
            header {
                display: block;
                padding: 58px 92px 0;
                .logo {
                    display: none;
                    width: 186px;
                    height: 101px;
                }
                .hamburger {
                    display: none;
                }
            }
            .house-img {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../img/house-opacity.png');
                background-size: calc(1153px / 1.2) calc(888px / 1.2);
                background-position: center center;
            }
            .welcome-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                margin-top: 0;
                padding-left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .absolute-content {
                    width: calc(989px / 1.2);
                    height: calc(667px / 1.2);
                    margin-bottom: 0;
                    padding-bottom: 0;
                    background-image: url('../img/pattern-home-bg.png');
                    background-size: calc(989px / 1.2) calc(667px / 1.2);
                    background-position: center center;
                    background-repeat: no-repeat;
                    .gradient-background {
                        position: relative;
                        margin-bottom: 30px;
                        .logo-href {
                            .logo {
                                width: 257px;
                                height: 130px;
                                background-size: 257px 130px;
                                margin: 0 auto;
                                margin-top: -22px;
                                margin-bottom: 41px;
                            }
                        }
                        .h1-welcome {
                            margin-bottom: 21px;
                            br {
                                display: none;
                            }
                        }
                        .p-welcome {
                            margin: 0 auto;
                            margin-bottom: 0;
                            width: 518px;
                        }
                        .super-bacteria,
                        .strong-virus {
                            display: block;
                            position: absolute;
                        }
                        .super-bacteria {
                            width: 218px;
                            height: 295px;
                            bottom: -230px;
                            left: -50px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                        .strong-virus {
                            bottom: -220px;
                            right: -40px;
                            width: 186px;
                            height: 247px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }
        
        @include xlarge {
            .house-img {
                background-size: calc(1153px / 1) calc(888px / 1);
            }
            .welcome-wrapper {
                .absolute-content {
                    width: calc(989px / 1);
                    height: calc(667px / 1);
                    background-size: calc(989px / 1) calc(667px / 1);
                    .gradient-background {
                        .super-bacteria {
                            bottom: -270px;
                            left: -50px;
                        }
                        .strong-virus {
                            bottom: -260px;
                            right: -40px;
                        }
                    }
                }
            }
        }
    }
    
    
    /** 
    * THEMES PAGE
    */
    .section-themes {
        position: relative;
        overflow: hidden;
        height: auto;
        .content { 
            position: relative;
            overflow: hidden;
            margin-top: 43px;
            h1,
            .themes-count {
                position: relative;
                z-index: 2;
                text-align: center;
            }
            h1 {
                margin-bottom: 5px;
            }
            .themes-count {
                margin-bottom: 33px;
            }
            .pattern-themes-mobile {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                z-index: 1;
            }
        }
        
        .pattern-themes-desktop {
            display: none;
        }
        
        .house-interior {
            display: none;
        }
        
        @include medium {
            .content {
                margin-top: 10px;
                h1 {
                    padding-top: 32px;
                }
            }
        }
        
        @include tablet-landscape {
            .pattern-themes-desktop {
                width: 56%;
            }
            .content {
                width: 380px !important;
                top: 59px !important;
                .themes-container {
                    height: calc(100vh - 59px) !important;
                    .theme {
                        a {
                            h2 {
                                margin-right: 20px;
                                width: 250px;
                            }
                        }
                    }
                }
            }
        }
        
        @include large {
            height: 100vh;
            overflow: hidden;
            header {
                position: relative;
                z-index: 6;
            }
            .content {
                display: none;
                .pattern-themes-mobile {
                    display: none;
                }
            }
            .pattern-themes-desktop {
                display: none;
            }
            .house-interior {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                padding: 68px 107px 68px 107px;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .images-container {
                    position: relative;
                    width: calc(1158px / 1.35);
                    height: calc(888px / 1.35);
                    a {
                        .overlay {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            opacity: 0;
                            transition: all 0.3s ease-out;
                            h2 {
                                color: $white;
                                font-family: $caveat-brush;
                                font-size: 32px;
                                text-align: center;
                            }
                        }
                        .overlay-background {
                            opacity: 0;
                            transition: all 0.3s ease-out;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .main-image {
                        width: calc(1158px / 1.35);
                        height: calc(888px / 1.35);
                        object-fit: contain;
                    }
                    .kids-room {
                        position: absolute;
                        top: 29%;
                        left: 11%;
                        .image {
                            width: calc(500px / 1.35);
                            height: calc(298px / 1.35);
                        }
                    }
                    .bathroom {
                        position: absolute;
                        top: 29%;
                        right: 8.5%;
                        .image {
                            width: calc(417px / 1.35);
                            height: calc(303px / 1.35);
                        }
                    }
                    .livingroom {
                        position: absolute;
                        bottom: 1.5%;
                        left: 12.1%;
                        .image {
                            width: calc(404px / 1.35);
                            height: calc(301px / 1.35);
                        }
                    }
                    .kitchen {
                        position: absolute;
                        bottom: 1.5%;
                        right: 9.8%;
                        .image {
                            width: calc(483px / 1.35);
                            height: calc(301px / 1.35);
                        }
                    }
                    .image {
                        transition: all 0.3s ease-out;
                    }
                    a:hover .image,
                    a:hover .overlay,
                    a:hover .overlay-background {
                        z-index: 1;
                        opacity: 1;
                        transform: scale(1.1);
                    }
                }
            }
        }
        
        @include xlarge {
            .house-interior {
                .images-container {
                    width: calc(1158px / 1);
                    height: calc(888px / 1);
                    .main-image {
                        width: calc(1158px / 1);
                        height: calc(888px / 1);
                        object-fit: contain;
                    }
                    .kids-room {
                        position: absolute;
                        top: 29%;
                        left: 11%;
                        .image {
                            width: calc(500px / 1);
                            height: calc(298px / 1);
                        }
                    }
                    .bathroom {
                        position: absolute;
                        top: 29%;
                        right: 8.5%;
                        .image {
                            width: calc(417px / 1);
                            height: calc(303px / 1);
                        }
                    }
                    .livingroom {
                        position: absolute;
                        bottom: 1.5%;
                        left: 12.1%;
                        .image {
                            width: calc(404px / 1);
                            height: calc(301px / 1);
                        }
                    }
                    .kitchen {
                        position: absolute;
                        bottom: 1.5%;
                        right: 9.8%;
                        .image {
                            width: calc(483px / 1);
                            height: calc(301px / 1);
                        }
                    }
                }
            }
        }
    }
    
    /**
    *COMPONENT - THEMES LIST
    */
    .themes-container {
        padding: 0 18px 228px 18px;
        position: relative;
        z-index: 2;
        .theme {
            max-width: 380px;
            margin: 0 auto;
            a {
                display: flex;
                align-items: center;
                padding: 0 34px 0 19px;
                background: $cream;
                border-radius: 25px;
                margin-bottom: 10px;
                figure {
                    width: 64px;
                    height: 64px;
                    margin-right: 30px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                h2 {
                    padding: 32px 0;
                    width: 207.2px;
                    margin-right: 11.8px;
                }
            }
        }
        .theme:last-child {
            margin-bottom: 0;
        }
        
        @include medium {
            padding: 0 0 94px 0;
            .theme {
                max-width: 496px;
                a {
                    padding: 0 34px;
                    figure {
                        margin-right: 34px;
                    }
                    h2 {
                        width: 290px;
                        margin-right: 26px;
                    }
                }
            }
        }
        
        @include tablet-landscape {
            .theme {
                max-width: 380px !important;
                a {
                    width: 100% !important;
                    background: $cream !important;
                }
            }
        }
        
        @include large {
            height: calc(100vh - 193px);
            overflow-y: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;
            .theme {
                margin: 0;
                max-width: 528px;
                a {
                    margin-bottom: 8px;
                    width: 100%;
                    padding: 0 34px 0 19px;
                    background: inherit;
                    transition: all 0.3s ease-out;
                    figure {
                        margin-right: 30px;
                    }
                    h2 {
                        width: 280px;
                        margin-right: 87px;
                    }
                }
                a:hover {
                    background: $cream;
                    transition: all 0.3s ease-in;
                }
            }
        }
        
    }
    
    
    /** 
    *SECTION THEME 
    */
    .section-theme {
        position: relative;
        .content {
            position: relative;
            overflow: visible;
            margin-top: 43px;
            padding-bottom: 32px;
            .heading {
                position: relative;
                z-index: 2;
                margin-bottom: 50px;
                padding: 0 25px;
                h1 {
                    text-align: center;
                    padding-top: 32px;
                    max-width: 600px;
                    margin: 0 auto;
                    margin-bottom: 19px;
                }
                p {
                    max-width: 348px;
                    margin: 0 auto;
                    padding: 0 33px;
                    text-align: center;
                }
            }
            .themes-container {
                .theme {
                    a {
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        padding: 0 34px 0 0px;
                        background: $cream;
                        border-radius: 25px;
                        margin-bottom: 10px;
                        figure {
                            position: relative;
                            width: 64px;
                            height: 100%;
                            margin-right: 30px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                        h2 {
                            padding: 34px 0;
                            width: 65%;
                            margin-right: 26px;
                        }
                    }
                }
            }
            .pattern-themes-mobile {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                z-index: 1;
                height: 100%;
                width: 100%;
            } 
        }
        .image-container {
            display: none;
        }
        .pattern-themes-desktop {
            display: none;
        }
        
        .arrow-forward,
        .arrow-back {
            position: fixed;
            z-index: 4;
            bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            background: $orange;
            border-radius: 50%;
        }
        .arrow-back {
            padding-right: 5px;
            margin-left: 18px;
            svg {
                transform: rotate(180deg);
            }
        }
        .arrow-forward {
            padding-left: 5px;
            margin-right: 18px;
        }
        
        .arrows-desktop {
            display: none;
        }
        
        @include small {
            .content {
                .heading {
                    p {
                        max-width: 470px;
                    }
                }
            }
        }
        
        @include medium {
            .content {
                .heading {
                    p {
                        max-width: 530px;
                    }
                }
            }
        }
        
        @include large {
            height: 100vh;
            overflow: hidden;
            .content {
                position: relative;
                margin-top: 0;
                .heading {
                    margin-bottom: 60px;
                    h1 {
                        padding: 0;
                        font-size: 41px;
                        margin-bottom: 13px;
                        max-width: 750px;
                    }
                    p {
                        font-size: 18px;
                        opacity: 0.54;
                        max-width: 590px;
                    }
                }
                .themes-container {
                    display: none;
                }
                .arrow-back {
                    display: none;
                }
            }
            .image-container {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 2;
                .image-frame {
                    margin: 0 auto;
                }
            }
            .pattern-themes-mobile {
                display: none;
            }
            .pattern-themes-desktop {
                display: block;
                position: absolute;
                top: 120px;
                left: 0;
                width: 100%;
                transform: rotate(90deg);
            }
            .arrows-desktop {
                display: block;
                .arrow-back-desktop {
                    position: absolute;
                    bottom: 0;
                    z-index: 2;
                    display: flex;
                    align-items: center;
                    margin-left: 92px;
                    margin-bottom: 60px;
                    .arrow-back {
                        position: relative;
                        top: 0;
                        margin-left: 0;
                    }
                    .arrow-back-text {
                        display: block;
                        margin-left: 29px;
                    }
                }
                .arrow-forward-desktop {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: 2;
                    display: flex;
                    align-items: center;
                    margin-right: 92px;
                    margin-bottom: 60px;
                    .arrow-back-text {
                        display: block;
                        margin-left: 0;
                        margin-right: 29px;
                    }
                    .arrow-forward {
                        position: relative;
                        top: 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }
    
    
    
    /** 
    *SECTION THEME - WATER
    */
    .section-theme--water {
        .content {
            .themes-container {
                .theme--water {
                    a {
                        figure {
                            width: 72px;
                            height: 75px;
                            top: 12px;
                            margin: 0 25px 0 25px;
                        } 
                    }
                }
                .theme--sink {
                    a {
                        figure {
                            width: 72px;
                            height: 74px;
                            top: 12px;
                            margin: 0 25px 0 25px;
                        } 
                    }
                }
                .theme--bathtub {
                    a {
                        figure {
                            width: 110px;
                            height: 71px;
                            top: 12px;
                            margin: 0 18px 0 0px;
                        } 
                    }
                }
            }
            .pattern-themes-mobile {
                min-height: calc(100vh - 133.7px - 43px);
            }
        }
        .image-container {
            .image-frame {
                position: relative;
                width: 726px;
                height: 400px;
                .image-main {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                .tooltip {
                    span {
                        color: $black;
                        position: relative;
                        z-index: 3;
                        display:none;
                        padding: 16px 25px 16px 34px;
                        border-radius: 60.5px;
                        box-shadow: 0 2px 57px 0 rgba(255, 140, 61, 0.37);
                        background-color: $white;
                        font-family: $caveat-brush;
                        font-size: 16px;
                    }
                }
                .tooltip:hover {
                    cursor: pointer;
                }
                .tooltip:hover span {
                    display: inline-block;
                    position: fixed;
                    overflow: hidden;
                }
                .item {
                    position: absolute;
                }
                .bathtub-click {
                    top: 2%;
                    left: 0;
                    width: 310px;
                    height: 360px;
                }
                .window-click {
                    top: 3%;
                    left: 45%;
                    width: 118px;
                    height: 160px;
                }
                .sink-click {
                    bottom: 20%;
                    left: 64%;
                    width: 86px;
                    height: 153px;
                }
            }
        }
        
        @include xlarge {
            .image-container {
                .image-frame {
                    width: 826px;
                    height: 533px;
                    .bathtub-click {
                        top: 10%;
                        left: 0;
                        width: 391px;
                        height: 428px;
                    }
                    .window-click {
                        top: 3%;
                        left: 49%;
                        width: 128px;
                        height: 181px;
                    }
                    .sink-click {
                        bottom: 22%;
                        left: 64%;
                        width: 106px;
                        height: 183px;
                    }
                }
            }
        }
    }
    
    /** 
    *SECTION THEME - FOOD
    */
    .section-theme--food {
        .content {
            .themes-container {
                .theme--meat {
                    a {
                        figure {
                            width: 93px;
                            height: 41px;
                            margin: 0 26px 0 13px;
                        } 
                    }
                }
                .theme--fruit {
                    a {
                        figure {
                            width: 91px;
                            height: 56px;
                            margin: 0 22px 0 19px;
                        } 
                    }
                }
                .theme--bread {
                    a {
                        figure {
                            width: 97px;
                            height: 38px;
                            margin: 0 19px 0 16px;
                        } 
                    }
                }
                .theme--cheese {
                    a {
                        figure {
                            width: 95px;
                            height: 30px;
                            margin: 0 22px 0 15px;
                        } 
                    }
                }
                .theme--chocolate {
                    a {
                        figure {
                            width: 80px;
                            height: 70px;
                            top: 14px;
                            margin: 0 35px 0 19px;
                        } 
                    }
                }
                .theme--hygiene {
                    a {
                        figure {
                            width: 81px;
                            height: 86px;
                            top: 14px;
                            margin: 0 35px 0 19px;
                        } 
                    }
                }
            }
        }
        .image-container {
            .image-frame {
                position: relative;
                width: 802px;
                height: 509px;
                .image-main {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                .tooltip {
                    span {
                        color: $black;
                        position: relative;
                        z-index: 3;
                        display:none;
                        padding: 16px 25px 16px 34px;
                        border-radius: 60.5px;
                        box-shadow: 0 2px 57px 0 rgba(255, 140, 61, 0.37);
                        background-color: $white;
                        font-family: $caveat-brush;
                        font-size: 16px;
                    }
                }
                .tooltip:hover {
                    cursor: pointer;
                }
                .tooltip:hover span {
                    display: inline-block;
                    position: fixed;
                    overflow: hidden;
                }
                .item {
                    position: absolute;
                }
                .cheese-click {
                    bottom: 41%;
                    left: 10%;
                    width: 73px;
                    height: 23px;
                }
                .meat-click {
                    bottom: 54.5%;
                    left: 10%;
                    width: 67px;
                    height: 30px;
                }
                .fruit-click {
                    bottom: 55.5%;
                    left: 54%;
                    width: 102px;
                    height: 63px;
                }
                .bread-click {
                    bottom: 34.7%;
                    left: 45%;
                    width: 102px;
                    height: 40px;
                }
                .chocolate-click {
                    bottom: 0;
                    left: 54%;
                    width: calc(121px / 1.2);
                    height: calc(59px / 1.2);
                }
                .hygiene-click {
                    bottom: 70%;
                    left: 32%;
                    width: 87px;
                    height: 121px;
                }
            }
        }
        
        @include large {
            .image-container {
                .image-frame {
                    width: calc(872px / 1.25);
                    height: calc(559px / 1.25);
                }
            }
        }
        
        @include xlarge {
            .image-container {
                .image-frame {
                    width: 872px;
                    height: 559px;
                    .cheese-click {
                        bottom: 41%;
                        left: 12%;
                        width: 73px;
                        height: 23px;
                    }
                    .meat-click {
                        bottom: 54.5%;
                        left: 12%;
                        width: 67px;
                        height: 30px;
                    }
                    .fruit-click {
                        bottom: 55.5%;
                        left: 54%;
                        width: 102px;
                        height: 63px;
                    }
                    .bread-click {
                        bottom: 34.7%;
                        left: 45%;
                        width: 102px;
                        height: 40px;
                    }
                    .chocolate-click {
                        bottom: 0;
                        left: 54%;
                        width: 121px;
                        height: 59px;
                    }
                    .hygiene-click {
                        bottom: 70%;
                        left: 32%;
                        width: 87px;
                        height: 121px;
                    }
                }
            }
        }
    }
    
    
    /** 
    *SECTION THEME - MEDICINES
    */
    .section-theme--medicines {
        .content {
            .themes-container {
                .theme--jogurt {
                    a {
                        figure {
                            width: 44px;
                            height: 104px;
                            top: 30px;
                            margin: 0 42px 0 45px;
                        } 
                    }
                }
                .theme--person {
                    a {
                        figure {
                            width: 69px;
                            height: 103px;
                            top: 17px;
                            margin: 0 27px 0 18px;
                        } 
                    }
                }
                .theme--salad {
                    a {
                        figure {
                            width: 105px;
                            height: 75px;
                            margin: 0 10px 0 17px;
                        } 
                    }
                }
                .theme--jogurt-glass {
                    a {
                        figure {
                            width: 43px;
                            height: 81px;
                            top: 43px;
                            margin: 0 45px 0 43px;
                        } 
                    }
                }
            }
        }
        .image-container {
            .image-frame {
                position: relative;
                width: 802px;
                height: 509px;
                .image-main {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                .tooltip {
                    span {
                        color: $black;
                        position: relative;
                        z-index: 3;
                        display:none;
                        padding: 16px 25px 16px 34px;
                        border-radius: 60.5px;
                        box-shadow: 0 2px 57px 0 rgba(255, 140, 61, 0.37);
                        background-color: $white;
                        font-family: $caveat-brush;
                        font-size: 16px;
                    }
                }
                .tooltip:hover {
                    cursor: pointer;
                }
                .tooltip:hover span {
                    display: inline-block;
                    position: fixed;
                    overflow: hidden;
                }
                .item {
                    position: absolute;
                }
                .jogurt-click {
                    bottom: 41%;
                    left: 12%;
                    width: calc(19px / 1.25);
                    height: calc(60px / 1.25);
                }
                .salad-click {
                    bottom: 34.7%;
                    left: 60%;
                    width: calc(123px / 1.25);
                    height: calc(88px / 1.25);
                }
                .jogurt-glass-click {
                    bottom: 55.5%;
                    left: 55%;
                    width: calc(29px / 1.25);
                    height: calc(66px / 1.25);
                }
                .person-click {
                    bottom: 13.5%;
                    left: 22%;
                    width: calc(150px / 1.25);
                    height: calc(427px / 1.25);
                }
            }
        }
        
        @include large {
            .image-container {
                .image-frame {
                    width: calc(872px / 1.25);
                    height: calc(559px / 1.25);
                }
            }
        }
        
        @include xlarge {
            .image-container {
                .image-frame {
                    width: 872px;
                    height: 559px;
                    .jogurt-click {
                        bottom: 41%;
                        left: 12%;
                        width: 19px;
                        height: 60px;
                    }
                    .salad-click {
                        bottom: 34.7%;
                        left: 60%;
                        width: 123px;
                        height: 88px;
                    }
                    .jogurt-glass-click {
                        bottom: 55.5%;
                        left: 55%;
                        width: 29px;
                        height: 66px;
                    }
                    .person-click {
                        bottom: 13.5%;
                        left: 22%;
                        width: 150px;
                        height: 427px;
                    }
                }
            }
        }
    }
    
    
    /** 
    *SECTION THEME - FERMENTED
    */
    .section-theme--fermented {
        .content {
            .themes-container {
                .theme--cheese-fermented {
                    a {
                        figure {
                            width: 113.9px;
                            height: 60px;
                            top: 0;
                            margin: 0 18px 0 0;
                        } 
                    }
                }
                .theme--sausage {
                    a {
                        figure {
                            width: 122px;
                            height: 85px;
                            top: 37px;
                            margin: 0 9px 0 1px;
                            transform: rotate(90deg)
                        } 
                    }
                }
                .theme--cucumbers {
                    a {
                        figure {
                            width: 61.8px;
                            height: 86.1px;
                            top: 25px;
                            margin: 0 34.2px 0 30px;
                        } 
                    }
                }
                .theme--wine {
                    a {
                        figure {
                            width: 68px;
                            height: 96px;
                            top: 19px;
                            margin: 0 35px 0 28px;
                        } 
                    }
                }
            }
        }
        .image-container {
            .image-frame {
                position: relative;
                width: 802px;
                height: 509px;
                .image-main {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                .tooltip {
                    span {
                        color: $black;
                        position: relative;
                        z-index: 3;
                        display:none;
                        padding: 16px 25px 16px 34px;
                        border-radius: 60.5px;
                        box-shadow: 0 2px 57px 0 rgba(255, 140, 61, 0.37);
                        background-color: $white;
                        font-family: $caveat-brush;
                        font-size: 16px;
                    }
                }
                .tooltip:hover {
                    cursor: pointer;
                }
                .tooltip:hover span {
                    display: inline-block;
                    position: fixed;
                    overflow: hidden;
                }
                .item {
                    position: absolute;
                }
                .cheese-fermented-click {
                    bottom: 34.5%;
                    left: 51%;
                    width: calc(115px / 1.25);
                    height: calc(39px / 1.25);
                }
                .sausage-click {
                    bottom: 61.6%;
                    left: 8%;
                    width: calc(101px / 1.25);
                    height: calc(16px / 1.25);
                }
                .cucumbers-click {
                    bottom: 73.7%;
                    right: 8.5%;
                    width: calc(100px / 1.25);
                    height: calc(75px / 1.25);
                }
                .wine-click {
                    bottom: 34.5%;
                    left: 67%;
                    width: calc(68px / 1.25);
                    height: calc(137px / 1.25);
                }
            }
        }
        
        @include large {
            .image-container {
                .image-frame {
                    width: calc(872px / 1.25);
                    height: calc(559px / 1.25);
                }
            }
        }
        
        @include xlarge {
            .image-container {
                .image-frame {
                    width: 872px;
                    height: 559px;
                    .cheese-fermented-click {
                        bottom: 34.5%;
                        left: 51%;
                        width: 115px;
                        height: 39px;
                    }
                    .sausage-click {
                        bottom: 61.6%;
                        left: 8%;
                        width: 101px;
                        height: 16px;
                    }
                    .cucumbers-click {
                        bottom: 73.7%;
                        right: 8.5%;
                        width: 100px;
                        height: 75px;
                    }
                    .wine-click {
                        bottom: 34.5%;
                        left: 67%;
                        width: 68px;
                        height: 137px;
                    }
                }
            }
        }
    }
    
    
    /** 
    *SECTION THEME - MICROBES
    */
    .section-theme--microbes {
        .content {
            .themes-container {
                .theme--mom {
                    a {
                        figure {
                            width: 70px;
                            height: 77px;
                            top: 12px;
                            margin: 0 36px 0 26px;
                        } 
                    }
                }
            }
            .pattern-themes-mobile {
                min-height: calc(100vh - 133.7px - 43px);
            }
        }
        .image-container {
            .image-frame {
                position: relative;
                width: 835px;
                height: 455px;
                .image-main {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                .tooltip {
                    span {
                        color: $black;
                        position: relative;
                        z-index: 3;
                        display:none;
                        padding: 16px 25px 16px 34px;
                        border-radius: 60.5px;
                        box-shadow: 0 2px 57px 0 rgba(255, 140, 61, 0.37);
                        background-color: $white;
                        font-family: $caveat-brush;
                        font-size: 16px;
                    }
                }
                .tooltip:hover {
                    cursor: pointer;
                }
                .tooltip:hover span {
                    display: inline-block;
                    position: fixed;
                    overflow: hidden;
                }
                .item {
                    position: absolute;
                }
                .mom-click {
                    bottom: 7.5%;
                    right: 20%;
                    width: calc(135px / 1.3);
                    height: calc(358px / 1.3);
                }
            }
        }
        
        @include large {
            .image-container {
                .image-frame {
                    width: calc(1002px / 1.3);
                    height: calc(547px / 1.3);
                }
            }
        }
        
        @include xlarge {
            .image-container {
                .image-frame {
                    width: 1002px;
                    height: 547px;
                    .mom-click {
                        bottom: 7.5%;
                        right: 20%;
                        width: 135px;
                        height: 358px;
                    }
                }
            }
        }
    }
    
    
    /** 
    *SECTION THEME - MENINGOCOCCUS (same as section microbes)
    */
    .section-theme--meningococcus {}
    
    
    /** 
    *SECTION THEME - ANTIBIOTICS
    */
    .section-theme--antibiotics {
        .content {
            .themes-container {
                .theme--plant {
                    a {
                        figure {
                            width: 72px;
                            height: 103px;
                            top: 16px;
                            margin: 0 45px 0 19px;
                        } 
                    }
                }
                .theme--medicines {
                    a {
                        figure {
                            width: 52px;
                            height: 76px;
                            top: 30px;
                            margin: 0 45px 0 35px;
                        } 
                    }
                }
            }
            .pattern-themes-mobile {
                min-height: calc(100vh - 133.7px - 43px);
            }
        }
        .image-container {
            .image-frame {
                position: relative;
                width: 835px;
                height: 455px;
                .image-main {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                .tooltip {
                    span {
                        color: $black;
                        position: relative;
                        z-index: 3;
                        display:none;
                        padding: 16px 25px 16px 34px;
                        border-radius: 60.5px;
                        box-shadow: 0 2px 57px 0 rgba(255, 140, 61, 0.37);
                        background-color: $white;
                        font-family: $caveat-brush;
                        font-size: 16px;
                    }
                }
                .tooltip:hover {
                    cursor: pointer;
                }
                .tooltip:hover span {
                    display: inline-block;
                    position: fixed;
                    overflow: hidden;
                }
                .item {
                    position: absolute;
                }
                .plant-click {
                    bottom: 17.5%;
                    left: 37%;
                    width: calc(207px / 1.3);
                    height: calc(320px / 1.3);
                }
                .medicines-click {
                    bottom: 44.5%;
                    left: 28%;
                    width: calc(36px / 1.3);
                    height: calc(60px / 1.3);
                }
            }
        }
        
        @include large {
            .image-container {
                .image-frame {
                    width: calc(1002px / 1.3);
                    height: calc(547px / 1.3);
                }
            }
        }
        
        @include xlarge {
            .image-container {
                .image-frame {
                    width: 1002px;
                    height: 547px;
                }
            }
        }
    }
    
    
    /** 
    *SECTION THEME - DERMATOPHYTES
    */
    .section-theme--dermatophytes {
        .content {
            .themes-container {
                .theme--fungi {
                    a {
                        figure {
                            width: 28px;
                            height: 58px;
                            top: 0;
                            margin: 0 57px 0 33px;
                        } 
                    }
                }
                .theme--cat {
                    a {
                        figure {
                            width: 76px;
                            height: 75px;
                            top: 12px;
                            margin: 0 25px 0 31px;
                        } 
                    }
                }
                .theme--girl-hamster {
                    a {
                        figure {
                            width: 83px;
                            height: 77px;
                            top: 17px;
                            margin: 0 22px 0 27px;
                        } 
                    }
                }
                .theme--dog-baby {
                    a {
                        figure {
                            width: 114px;
                            height: 81px;
                            top: 0;
                            margin: 0 28px 0 0;
                        } 
                    }
                }
            }
            .pattern-themes-mobile {
                min-height: calc(100vh - 133.7px - 43px);
            }
        }
        .image-container {
            .image-frame {
                position: relative;
                width: 835px;
                height: 455px;
                .image-main {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                .tooltip {
                    span {
                        color: $black;
                        position: relative;
                        z-index: 3;
                        display:none;
                        padding: 16px 25px 16px 34px;
                        border-radius: 60.5px;
                        box-shadow: 0 2px 57px 0 rgba(255, 140, 61, 0.37);
                        background-color: $white;
                        font-family: $caveat-brush;
                        font-size: 16px;
                    }
                }
                .tooltip:hover {
                    cursor: pointer;
                }
                .tooltip:hover span {
                    display: inline-block;
                    position: fixed;
                    overflow: hidden;
                }
                .item {
                    position: absolute;
                }
                .cat-click {
                    bottom: 20%;
                    right: 9%;
                    width: calc(101px / 1.3);
                    height: calc(207px / 1.3);
                }
                .girl-hamster-click {
                    bottom: 12%;
                    left: 12%;
                    width: calc(143px / 1.3);
                    height: calc(348px / 1.3);
                }
                .dog-baby-click {
                    bottom: 7%;
                    left: 37%;
                    width: calc(402px / 1.3);
                    height: calc(191px / 1.3);
                }
            }
        }
        
        @include large {
            .image-container {
                .image-frame {
                    width: calc(1002px / 1.3);
                    height: calc(547px / 1.3);
                }
            }
        }
        
        @include xlarge {
            .image-container {
                .image-frame {
                    width: 1002px;
                    height: 547px;
                }
            }
        }
    }
    
    
    /** 
    *SECTION THEME - EDGE
    */
    .section-theme--edge {
        .content {
            .themes-container {
                .theme--grandma {
                    a {
                        figure {
                            width: 96px;
                            height: 79px;
                            top: 12px;
                            margin: 0 10px 0 26px;
                        } 
                    }
                }
                .theme--ill-kid {
                    a {
                        figure {
                            width: 101px;
                            height: 70.5px;
                            top: 12px;
                            margin: 0 24px 0 7px;
                        } 
                    }
                }
                .theme--globus {
                    a {
                        figure {
                            width: 57px;
                            height: 69px;
                            top: 18px;
                            margin: 0 42px 0 33px;
                        } 
                    }
                }
                .theme--bird {
                    a {
                        figure {
                            width: 76px;
                            height: 48px;
                            margin: 0 34px 0 22px;
                        } 
                    }
                }
                .theme--wipes {
                    a {
                        figure {
                            width: 72px;
                            height: 55px;
                            top: 0;
                            margin: 0 35px 0 25px;
                        } 
                    }
                }
                .theme--flowers {
                    a {
                        figure {
                            width: 37px;
                            height: 76px;
                            top: 30px;
                            margin: 0 52px 0 43px;
                        } 
                    }
                }
            }
        }
        .image-container {
            .image-frame {
                position: relative;
                width: 835px;
                height: 506.6px;
                .image-main {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                .tooltip {
                    span {
                        color: $black;
                        position: relative;
                        z-index: 3;
                        display:none;
                        padding: 16px 25px 16px 34px;
                        border-radius: 60.5px;
                        box-shadow: 0 2px 57px 0 rgba(255, 140, 61, 0.37);
                        background-color: $white;
                        font-family: $caveat-brush;
                        font-size: 16px;
                    }
                }
                .tooltip:hover {
                    cursor: pointer;
                }
                .tooltip:hover span {
                    display: inline-block;
                    position: fixed;
                    overflow: hidden;
                }
                .item {
                    position: absolute;
                }
                .grandma-click {
                    bottom: 10%;
                    left: 32%;
                    width: calc(263px / 1.4);
                    height: calc(349px / 1.4);
                }
                .ill-kid-click {
                    bottom: 34%;
                    right: 27.5%;
                    width: calc(101px / 1.4);
                    height: calc(72px / 1.4);
                }
                .globus-click {
                    bottom: 65.5%;
                    right: 12%;
                    width: calc(102px / 1.4);
                    height: calc(124px / 1.4);
                }
                .bird-click {
                    bottom: 46.7%;
                    left: 4%;
                    width: calc(76px / 1.4);
                    height: calc(48px / 1.4);
                }
                .wipes-click {
                    bottom: 7%;
                    left: 62%;
                    width: calc(77px / 1.4);
                    height: calc(59px / 1.4);
                }
                .flowers-click {
                    bottom: 36.5%;
                    left: 21.2%;
                    width: calc(59px / 1.4);
                    height: calc(139px / 1.4);
                }
            }
        }
        
        @include large {
            .image-container {
                .image-frame {
                    width: calc(1002px / 1.4);
                    height: calc(608px / 1.4);
                }
            }
        }
        
        @include xlarge {
            .image-container {
                .image-frame {
                    width: 1002px;
                    height: 608px;
                }
            }
        }
    }
    
    
    
}



































